# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-selfcheck.json

# Flask
instance/
.webassets-cache

# Logs
*.log

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
